/* universal Selector css rule */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* setting up the body style */
body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling of the watch circles */
.outter-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 230px;
    background-color: aqua;
    border-radius: 50%;

}
/* background-animation while the stopwatch is running */
.bg-animation{
    background:linear-gradient(-45deg, #ee7752, orange,#e73c7e,#23a6d5,#23d5ab,#39FF14);
    background-size:400% 400%;
    animation: gradient 7s ease infinite; 
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}
.inner-circle{
    height: 210px;
    width: 210px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* util-classes */
.text{
    color:white;
    font-size: 23px;
    font-style: italic;
    font-weight: 900;
}
.minute{
    font-size: 43px;
}
.second{
    font-size: 34px;
}
.milisecond{
    font-size: 23px;
}
/* button-palet/wrapper styling */
.button-wrapper{
    width: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}
.button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color:black;
}
/* classes regarding laps */
.laps  {
    display: inline-block;
    list-style: none;
    color: white;
    height: 250px;
    width: 250px;
    overflow: auto;
    position: relative;
    padding: 10px;
    margin-top: 30px;
    
    
}
.laps::-webkit-scrollbar{
    display: none;
}
.lap-item{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 50px;
    padding-left: 50px;
    margin-top: 15px;
    
    
}
.number{
    color:#cccccc;
}
.time-stamp{
    display: inline-block;
    margin-left: 25px;
}
.lap-clear-button{
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 50px;
    
    padding: 15px 0;
    width: 180px;
    height: 50px;
    margin-top: 25px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    cursor:pointer;
}
/* class to toggle the visibility of lap and reset buttons on play/reset  */
.hidden{
    visibility: hidden;
}
@keyframes blink {
    from{
        opacity: 1.0;

    }
    to{
        opacity: 0.0;
    }

    
}
.blink{
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration:1s;
}
.pause-bg{
    background-color: red;
    
}